button {
  font-family: 'DINNextLTPro-Bold';
  position: relative;
  display: block;
  width: 100%;
  height: 70%;
  padding: 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--v-white);
  border: 0;
  background-color: transparent;
  margin-bottom: 20px;
}

button#small {
  min-height: 7.5vh;
  height: 35%;
  width: 70%;
  margin-bottom: 0;
}

button#small .label-text {
  font-size: 150%;
}

button:hover {
  color: var(--v-white);
}

button::before, button::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  border: 1px solid var(--v-outline);
  background-color: transparent;
}

button::before {
  top: 0;
  border-bottom: 0;
}

button::after {
  bottom: 0;
  border-top: 0;
}

.hover-effect {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
  content: '';
  transition: transform .3s ease-out;
  transform: translateX(-100%) skew(0deg);
  background-color: var(--v-color);
}

button:hover .hover-effect {
  transform: translateX(0) skew(0deg);
}

.label {
  overflow: hidden;
  position: relative;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.label-text {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 2.7rem;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

.label:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
}

.primary .label::before {
  background-color: var(--v-white);
}

.primary {
  color: var(--v-black);
}

button:hover .label-text::after {
  background-color: var(--v-white);
}

.outline {
  color: var(--v-white);
}

.outline .label::before, .outline .label::after {
  border: 1px solid var(--v-outline);
}

.outline+.red {
  color: var(--v-color);
}

.outline+.red:hover {
  color: var(--v-white);
}

.outline+.red .label::before, .outline+.red .label::after {
  border-color: var(--v-color);
}